<main>
  <div class="position-relative">
    <section class="section section-lg section-hero section-shaped shape bg-gradient-info">
      <div class="container shape-container d-flex align-items-center py-lg">
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
              <img src="./assets/img/logo.png" style="width: 300px;" class="img-fluid">
              <p class="lead text-white">Url Shorter service</p>
              <p class="lead text-white">(Bluebik Test)</p>
              <p> <a class="lead text-white" href="{{nameurl}}"> {{nameurl}}</a> </p>
              <div class="btn-wrapper mt-5">
                <form (submit)="addname(name.value)">
                  <div class="form-group">
                    <div class="input-group mb-4">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="ni ni-zoom-split-in"></i></span>
                      </div>
                      <input class="form-control" placeholder="Please Place Url" type="text" #name>
                    </div>
                  </div>
                  <button class="btn btn-lg btn-primary " type="submit">Submit</button>
                </form> 
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>
